.first-view-main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0 10px;
}

.first-view-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (min-width: 1281px) {
  .first-view-main {
    width: 62vw;
  }
}

.import-account {
  display: flex;
  flex-flow: column nowrap;
  margin: 60px 0 30px 0;
  position: relative;
  max-width: initial;
}

@media only screen and (max-width: 575px) {
  .import-account {
    margin: 24px;
    display: flex;
    flex-flow: column nowrap;
    width: calc(100vw - 80px);
  }

  .import-account__title {
    width: initial !important;
  }

  .first-view-main {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
  }

  .first-view-phone-invisible {
    display: none;
  }

  .first-time-flow__input {
    width: 100%;
  }

  .import-account__secret-phrase {
    width: initial !important;
    height: initial !important;
    min-height: 190px;
  }
}

.import-account__title {
  @include H1;

  color: #1b344d;
  margin-bottom: 10px;
}

.import-account__back-button {
  @include Paragraph;

  margin-bottom: 18px;
  color: #22232c;
  position: absolute;
  top: -25px;
}

.import-account__secret-phrase {
  height: 190px;
  width: 495px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  background-color: #fff;
  padding: 17px;
  font-size: 16px;
}

.import-account__secret-phrase::placeholder {
  color: #9b9b9b;
  font-weight: 200;
}

.import-account__faq-link {
  @include H4;
}

.import-account__selector-label {
  color: #1b344d;
  font-size: 16px;
}

.import-account__dropdown {
  @include H4;

  width: 325px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 14px;
  color: #5b5d67;
  padding: 14px 21px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.import-account__description-text {
  @include H4;

  color: #757575;
  margin-top: 21px;
}

.import-account__input-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;
}

.import-account__input-error-message {
  @include Paragraph;

  margin-top: 10px;
  width: 422px;
  color: #ff001f;
}

.import-account__input-label {
  @include H4;

  margin-bottom: 9px;
  color: #1b344d;
}

.import-account__input-label__disabled {
  opacity: 0.5;
}

.import-account__input {
  width: 350px;
}

@media only screen and (max-width: 575px) {
  .import-account__input {
    width: 100%;
  }
}

.import-account__file-input {
  display: none;
}

.import-account__file-input-label {
  @include H4;

  height: 53px;
  width: 148px;
  border: 1px solid #1b344d;
  border-radius: 4px;
  color: #1b344d;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.import-account__file-picker-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.import-account__file-name {
  @include H4;

  color: #000;
  margin-left: 22px;
}

.reveal-seed {
  &__content {
    padding: 20px;
  }

  &__label {
    padding-bottom: 10px;
    font-weight: 400;
    display: inline-block;
  }

  &__error {
    color: $crimson;
    font-size: 14px;
    padding-top: 5px;
  }
}
